* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Lato";
}

.container {
    margin: 0;
}

.header {
    background-image: url(/image/header.png);
    width: 100%;
    height: 1929px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px 20px;
    background-color: #080109;
}

.left {
    display: flex;
    padding: 5px 0px;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.left img {
    width: 43px;
    height: 41px;
    gap: 0px;
    opacity: 0px;
    margin-right: 20px;
    align-items: center;
}

.left h1 {
    font-size: 24px;
    color: #8D81AC;
    font-weight: 700;
    align-items: center;
    margin-right: 10px;
}

.right {
    width: 145px;
    height: 37px;
    gap: 0px;
    border-radius: 40px;
    opacity: 0px;
    background: #8D81AC;
    padding: 7px 30px 10px;
    margin: 30px;
    align-items: center;
}

.right a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    width: 90px;
    height: 15px;
    align-items: center;
}

.bottom-nav {
    font-size: 16px;
    color: #8D81AC;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 0px;
    margin-right: 10px;
}

.bottom-nav h3 {
    width: 50%;
}

.header-content {
    display: inline-block;
    text-align: center;
    margin: 90px 40px;
}

.header-content h1 {
    font-size: 82px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 30px 30px;
}

.header-content h2 {
    font-size: 30px;
    font-weight: 400;
    color: #8D81AC;
    padding: 5px 0px 20px;
}

.header-content h4 {
    font-size: 16px;
    font-weight: 400;
    color: #848E97;
}

.content-button {
    text-align: center;
    padding: 0px 40px;
}

.content-button a {
    font-size: 21px;
    line-height: 22px;
    color: #FFFFFF;
    align-items: center;
    width: 390px;
    height: 62px;
    border-radius: 40px;
    padding: 20px 40px;
    font-weight: 700;
    background-color: #8D81AC;
}

.content-word {
    margin: 60px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #848E97;
}

.present-text {
    display: block;
    text-align: center;
    width: 100%;
    height: 192px;
    line-height: 54px;
    margin-top: 160px;
    margin-bottom: 120px;
}

.present-text h4 {
    font-size: 54px;
    line-height: 54px;
    color: #635C73;
    padding: 0px 20px 30px;
}

.present-text p {
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 121px 40px;
}

.present-text img {
    width: 365px;
    height: 26px;
}

.features {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    background-color: #F4F4F4;
    gap: 10px;
}

.left-features img {
    padding: 0px 10px 0px;
    margin: 15px 30px 20px;
    align-items: center;
    text-align: center;
}

.first .icon1 {
    width: 111px;
    height: 64px;
}

.second .icon2 {
    width: 90px;
    height: 80px;
}

.third .icon3 {
    width: 60px;
    height: 84px;
}

.fourth {
    margin-bottom: 90px;
}

.fourth .icon4 {
    width: 71px;
    height: 71px;
}

.left-features>div {
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 50px 40px 0px;
    font-weight: 400;
    line-height: 21px;
}

.left-features h6 {
    font-size: 16px;
    color: #323232;
    padding-left: 20px;
}

.left-features p {
    font-size: 14px;
    color: #848E97;
    padding-left: 20px;
}

.icon1-content {
    padding-left: 10px;
}

.icon2-content {
    padding-left: 31px;
}

.icon3-content {
    padding-left: 61px;
}

.icon4-content {
    padding-left: 50px;
}

.second img {
    width: 90px;
    height: 80px;
}

.third img {
    width: 60px;
    height: 84px;
}

.fourth img {
    width: 71px;
    height: 71px;
}

.right-features img {
    width: 700;
    height: 519px;
    margin: 0px;
}

.right-features h4 {
    font-size: 48px;
    line-height: 50px;
    color: #8D81AC;
    font-weight: 700;
    text-align: center;
}

.testimonials {
    background-image: url(/image/testimonialf.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
}

.testimonials-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: #FFFFFF;
    padding: 110px 20px;
}

.testimonials-logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 90px;
    text-align: center;
    overflow: hidden;
    padding: 50px 30px;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px 10px;
}

.testimonials-logo img {
    margin-bottom: 30px;
}

.testimonial-bottom {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
    padding: 0px 240px 0px;
    margin-top: -125px;
}

.sep-copy {
    width: 880px;
    height: 2px;
    color: #645766;
    text-align: center;
    padding: 100px 100px;
    margin-bottom: -11px;
}

.pricing {
    background-image: url(/image/lawyer.png);
    width: 100%;
    height: 850px;
    margin: 0px;
    background-size: cover;
    opacity: 100%;
    text-align: center;
}

.pricing-title h3 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 114px 350px;
}

.card {
    display: flex;
    width: 24%;
    margin: 30px 45px;
    padding: 0px 90px 70px;
    justify-content: space-around;
    text-align: center;
    gap: 15px;
    opacity: 100%;
    position: relative;
}

.card>div {
    border: 1px solid #463048;
    text-align: center;
}

.card-head {
    background: rgba(255, 255, 255, 0.1);
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    border-radius: 3;
    text-align: center;
    color: #FFFFFF;
    padding: 36px 58px;
    margin: 0px 0px 0px;
}

.card .price {
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 10px 0px;
    padding: 0 0 25px;
}

.card .price h2 {
    font-weight: 700;
}

.card .dollar {
    font-weight: 400;
    display: flex;
    font-size: 60px;
    line-height: 90px;
    align-items: center;
    margin: 20px 3px;
}

.students {
    width: 257px;
    height: 487px;
    gap: 0px;
    opacity: 0.11px;
}

.professional {
    width: 257px;
    height: 487px;
}

.agency {
    width: 299px;
    height: 487px;
    top: -57px;
    background-color: #463048;
    position: relative;
}

.enterprice {
    width: 256px;
    height: 487px;
}

.per {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.sep-price hr {
    display: inline-block;
    top: 260px;
    left: 99px;
    background-color: #8D81AC;
    width: 40px;
    padding: 2px 30px;
    border: 1px solid #8D81AC;
}

.license {
    display: inline-block;
    width: 257px;
    height: 13px;
    top: 301px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 30px 39px;
}

.license-button {
    width: 190px;
    height: 12px;
    top: 378px;
    left: 48.5px;
    opacity: 65%;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 40px;
}

.button-price {
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    font-weight: 400;
    width: 28px;
    height: 15px;
    border-radius: 40px;
    padding: 10px 40px;
    background-color: #8D81AC;
    text-decoration: none;
}

@media only screen and (max-width:1200px) {
    .container {
        width: 1380px;
        height: 3540px;
    }

    .left {
        width: 118px;
        height: 18px;
    }

    .bottom-nav {
        width: 527px;
        height: 20px;
    }

    .header {
        width: 1380px;
        height: 100px;
    }

    .right {
        width: 118px;
        height: 18px;
        top: 15px;
        left: 60px;
    }
}

@media only screen and (min-width:1200px) {
    .container {
        width: 1380px;
        height: 3540px;
    }

    .left {
        width: 118px;
        height: 18px;
    }

    .left:hover {
        width: 43px;
        height: 41px;
    }

    .bottom-nav {
        width: 527px;
        height: 20px;
    }

    .header {
        width: 1380px;
        height: 100px;
    }

    .right {
        width: 118px;
        height: 18px;
        top: 15px;
        left: 60px;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        opacity: 80%;
    }

    .features {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .testimonials-logo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .card {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        width: 100%;
        margin-bottom: 90px;
    }

    .agency {
        width: 257px;
    }

    .enterprice {
        width: 257px;
    }
}

@media only screen and (max-width: 320px) {
    .top-nav {
        width: 320px;
        height: 103px;
        top: 1px;
        gap: 0px;
        opacity: 0px;
    }

    .left img {
        width: 320px;
        height: 718px;
        top: -1px;
    }

    .present-text {
        width: 273px;
        height: 263px;
        top: 839px;
        left: 23px;
    }

    .features {
        width: 320px;
        height: 1530px;
        top: 1190px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
.testimonials{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.pricing{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
}
}